button {
    border: none;
    color: #49a6e9;
    background: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

button:hover {
    color: #4294ce;;
}

.container {
    width: 48%;
    height: 60%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.3em 0.8em rgb(235, 230, 230);
}

.navigation-buttons {
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

